doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        link(rel='stylesheet', href='/css/index.css')
        title Gordon Reid
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        .header
            h1.page-title Gordon Reid

        ul.nav
            li: a(href='/') Home
            li: a(href='/projects') Projects

        .main-content
            block content

        .footer
            p Gordon Reid
