extend default

block content
    p.
        Hello, my name is Gordon Reid.

    p.
        I am a graduate from the University of Glasgow living in Edinburgh.

    p.
        I will be posting information about my public programming projects on this website. I have experience in many languages including: C, Fortran, Java, and Python. As part of my University course I have created applications using OpenCL, enabling the execution of the algorithm on various classes of device including a GPU and the Intel Xeon Phi, improving peformance on a heterogeneous shared-memory system. I have also used MPI and a novel model coupling framework to parallelise a scientific model written in Fortran. The ability to make use of distributed-memory systems has allowed larger area or finer grained areas to be simulated, improving the accuracy of results. More details on all projects are available by visiting the Project page.

    p.
        My #[a(href='/pdf/gordon-reid-cv.pdf') CV] and #[a(href='/pdf/gordon-reid-transcript.pdf') transcript] are available for download.

    include contact.pug