doctype html
html(lang="en-gb")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content=description)
        meta(name="apple-mobile-web-app-title", content="Jess Reid")
        meta(name="theme-color", content="#ffffff")

        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
        link(rel="icon", type="image/svg+xml", href="/favicon.svg")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="shortcut icon", href="/favicon.ico")

        link(rel="stylesheet", href="/css/index.css")
        block extra-css
        title Jessica Reid - #{description}
    body
        header Jessica Reid
            img(src="/images/progress_pride_flag.png" alt="Progress Pride Flag")
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/projects") Coding
                li
                    a(href="/interests") Interests
                li
                    a(href="/blog") Blog
        main
            block content
        block javascript
