doctype html
html(lang="en-gb")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content=description)
        meta(name="msapplication-TileColor" content="#00aba9")
        meta(name="theme-color" content="#ffffff")

        link(rel="apple-touch-icon" sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon" type="image/png", sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png", sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5ca3b7")

        link(rel="stylesheet", href="/css/index.css")
        block extra-css
        title Gordon Reid - #{description}
    body
        header Gordon Reid
            img(src="/images/progress_pride_flag.png")
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/projects") Coding
                li
                    a(href="/interests") Interests
                li
                    a(href="/blog") Blog
        main
            block content
        block javascript
