extends base.pug

block content
    h3 #{title}
    each section in sections
        if section.type === "text"
            p !{section.value}
        else if section.type === "image"
            img(class="blog-image" src=section.value.filename alt=section.value.caption)
