<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <title>Gordon Reid</title>
  </head>
  <body>
    <div class="header">
      <h1 class="page-title">Gordon Reid</h1>
    </div>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="main-content">
      <p>Hello, my name is Gordon Reid.</p>
      <p>I am a graduate from the University of Glasgow living in Falkirk.</p>
      <p>
        I will be posting information about my public programming projects on this website. I have experience in
        many languages including: C, Fortran, Java, and Python. As part of my University course I have created
        applications using OpenCL, enabling the execution of the algorithm on various classes of device including
        a GPU and the Intel Xeon Phi, improving performance on a heterogeneous shared-memory system. I have also
        used MPI and a novel model coupling framework to parallelise a scientific model written in Fortran. The
        ability to make use of distributed-memory systems has allowed larger area or finer grained areas to be
        simulated, improving the accuracy of results. More details on all projects are available by visiting the
        Project page.
      </p>
      <p>My <a href="/pdf/gordon-reid-cv.pdf">CV</a> and <a href="/pdf/gordon-reid-transcript.pdf">transcript</a> are
        available for download.
      </p>
      <h3>Contact information</h3>
      <p>Email: gordon.reid1992@hotmail.co.uk</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/gordondavidreid/">https://www.linkedin.com/in/gordondavidreid/</a></p>
    </div>
  </body>
</html>