<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <title>Gordon Reid</title>
  </head>
  <body>
    <div class="header">
      <h1 class="page-title">Gordon Reid</h1>
    </div>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="main-content">
      <ul>
        <li><a href="/projects/DocumentFiltering">GPU-Accelerated Document Filtering in OpenCL</a></li>
        <li><a href="/projects/LES">
            Exploring the parallelisation of the Large Eddy Simulation using MPI and the Glasgow Model Coupling
            Framework in Fortran</a></li>
      </ul>
      <p></p>
    </div>
  </body>
</html>