extends base.pug

block content
    h3 #{title}
    each paragraph in paragraphs
        p !{paragraph}
    if includeContactInformation
        h3 Contact information
        p Email: gordon.reid1992@hotmail.co.uk
        p LinkedIn: #[a(href="https://www.linkedin.com/in/gordondavidreid/") https://www.linkedin.com/in/gordondavidreid/]
