body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #3a76b7;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

nav {
    background: #00008b;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 20px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #3a76b7;
    text-decoration: underline;
}

main {
    margin: 25px auto;
    padding: 0 25px 0 25px;
    max-width: 800px;
}

main ul {
    margin: 5px 0;
}

main h3 {
    margin: 5px 0;
}

main p {
    line-height: 1.6;
    margin: 5px 0;
}

main li {
    margin-bottom: 0.5em;
}

.blog-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
